html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }

ul {
    list-style-type: none;
    padding-left: 12px;
    color: #999;
    font-family: sans-serif;
}

input {
    margin-left: 10px;
    margin-top: 10px;
}

label {
    color: #fff;
    font-family: sans-serif;
}

.menu {
    display: inline-block;
    right: 0;
    padding: 1em;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.menu svg {
    width: 32px;
    fill: #000000;
}

.nav {
    z-index: 10;
    width: 250px;
    position: absolute;
    left: 0px;
    Top: 0px;
    background-color: #000000;
    /* this transform moves the drawer off canvas. */
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    /* optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

.nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
