html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }

ul {
    list-style-type: none;
    padding-left: 12px;
    color: #fff;
    font-family: sans-serif;
}

input {
    margin-left: 10px;
    margin-top: 10px;
}

.header__menu {
    display: inline-block;
    //position: absolute;
    right: 0;
    padding: 1em;
}

.header__menu svg {
      width: 32px;
      //fill: #E0E0E0;
      fill: #505050;
}

#menu {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.nav {
    z-index: 10;
    background-color: #fff;
    width: 200px;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

#drawer {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #505050;
      }

.nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
